body {
    padding: 0;
    margin: 0
}

.login {
    width: 32vw;
    left: 0;
    height: 100vh;
    background-color: #344A85;
    position: absolute;
    z-index: 2;
    color: white;
    font-family: Arial, sans-serif
}

.form {
    position: relative;
    margin-left: 5vw;
    top: 50%;
    transform: translateY(-50%)
}

h1 {
    font-size: 35px;
    margin-bottom: 35px;
}

img {
    width: 20vw;
    margin-bottom: 40px;
}

input {
    margin-top: 0px;
    margin-bottom: 35px;
    width: 20vw;
    height: 35px;
    border: 0px solid #000000;
    border-radius: 3px;
    padding: 4px;
}

button {
    color: white;
    background-color: #009EE3;
    border: 0px solid #009EE3;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 35px;
    width: 20vw;
    height: 35px;
}

svg {
    height: 100vh;
    left: 32vw;
    position: absolute
}

/*************CHARACTER*************/
#visage {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    transform-origin: 50% 100%;
    transform: rotate(0deg);
    animation: moveHead 5s 0s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
/********************************
 ************* EYES *************
 ********************************/
#paupiere {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: removeEyes 18s 3s linear infinite;
}

.eyesMove, .sourcils, #nez {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: moveEyes 7s 0s linear infinite;
}

#eyesMoveBlack {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: moveEyesBlack 7s 0s linear infinite;
}

/********************************
 ************* HAND *************
 ********************************/
#hand {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: moveHand 10s cubic-bezier(0.860, 0.000, 0.070, 1.000) infinite;
}

#handClick {
    will-change: transform;
    transform: translateY(-2px);
    transform: translate3d(0, 0, 0);
    animation: handClick 10s cubic-bezier(0.230, 1.000, 0.320, 1.000) infinite;
}
/********************************
 ************* FOOT *************
 ********************************/
#piedDroit {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    -webkit-animation: footMove 10s 0s ease-in-out infinite; /* Safari 4+ */
    -moz-animation: footMove 10s 0s ease-in-out infinite; /* Fx 5+ */
    -o-animation: footMove 10s 0s ease-in-out infinite; /* Opera 12+ */
    animation: footMove 10s 0s ease-in-out infinite;
}

#shadowFoot {
    will-change: transform;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    animation: shadowFoot 10s 0s ease-in-out infinite;
}
/********************************
 ************* HEAR *************
 ********************************/
.hear #outHearRight {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: moveHearOutRight 7s 0s linear infinite;
}

.hear #outHearLeft, .hear #lightHear {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: moveHearOutLeft 7s 0s linear infinite;
    transform: translateX(1px)
}

.hear #inHearRight {
    transform: translate3d(0, 0, 0);
    will-change: transform;
    animation: moveHearInRight 7s 0s linear infinite;
}

.hear #inHearLeft {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: moveHearInLeft 7s 0s linear infinite;
    transform: translateX(1px)
}
/********************************
 ************* HAIR *************
 ********************************/
#backHair {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: moveBackHair 7s 0s linear infinite;
}

.frontHair {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: moveFrontHair 7s 0s linear infinite;
}

.tienCache {
    will-change: transform;
    transform: translate3d(0px, 0, 0);
    animation: movetienCache 7s 0s linear infinite;
}

.pateLeft {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: movePateLeft 7s 0s linear infinite;
}

.pateRight {
    will-change: width;
    transform: translate3d(0, 0, 0);
    -webkit-animation: movePateRight 7s 0s linear infinite; /* Safari 4+ */
    -moz-animation: none !important; /* Fx 5+ */
    -o-animation: movePateRight 7s 0s linear infinite; /* Opera 12+ */
    animation: movePateRight 7s 0s linear infinite;
}

#shadowHead {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    -webkit-animation: moveshadowHead 7s 0s linear infinite; /* Safari 4+ */
    -moz-animation: none !important; /* Fx 5+ */
    -o-animation: moveshadowHead 7s 0s linear infinite; /* Opera 12+ */
    animation: moveshadowHead 7s 0s linear infinite;
}
/********************************
 ************* REST *************
 ********************************/
#logoComputer-2 {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: lightComputer 2s linear infinite alternate;
}

.vapeur {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: vapeur 2.5s ease-in infinite;
}

    .vapeur:nth-child(5) {
        will-change: transform;
        transform: translate3d(0, 0, 0);
        animation-delay: 1s;
    }

    .vapeur:nth-child(6) {
        will-change: transform;
        transform: translate3d(0, 0, 0);
        animation-delay: 2s;
    }

#plane {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: planeMove 8s cubic-bezier(0.480, 0.310, 0.615, 0.455);
}

/************* KEYFRAMES *************/

/********************************
 ************* FOOT *************
 ********************************/
@keyframes footMove {
    40% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    41% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    42% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    43% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    44% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    45% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    46% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    47% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    48% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    49% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    50% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }
}

@-moz-keyframes footMove {
    40% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    41% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    42% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    43% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    44% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    45% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    46% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    47% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    48% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    49% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    50% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }
}

@-webkit-keyframes footMove {
    40% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    41% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    42% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    43% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    44% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    45% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    46% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    47% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    48% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    49% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    50% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }
}

@-o-keyframes footMove {
    40% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    41% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    42% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    43% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    44% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    45% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    46% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    47% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    48% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    49% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    50% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }
}

@keyframes shadowFoot {
    40% {
        opacity: 0;
        transform: scale(0.6);
        transform-origin: center;
    }

    41% {
        opacity: 0.3;
        transform: scale(1);
        transform-origin: center;
    }

    42% {
        opacity: 0;
        transform: scale(0.6);
        transform-origin: center;
    }

    43% {
        opacity: 0.3;
        transform: scale(1);
        transform-origin: center;
    }

    44% {
        opacity: 0;
        transform: scale(0.6);
        transform-origin: center;
    }

    45% {
        opacity: 0.3;
        transform: scale(1);
        transform-origin: center;
    }

    46% {
        opacity: 0;
        transform: scale(0.6);
        transform-origin: center;
    }

    47% {
        opacity: 0.3;
        transform: scale(1);
        transform-origin: center;
    }

    48% {
        opacity: 0;
        transform: scale(0.6);
        transform-origin: center;
    }

    49% {
        opacity: 0.3;
        transform: scale(1);
        transform-origin: center;
    }

    50% {
        opacity: 0;
        transform: scale(0.6);
        transform-origin: center;
    }
}
/********************************
 ************* EYES *************
 ********************************/
@keyframes moveEyes {
    50% {
        transform: translateX(0px) translateZ(0px)
    }

    55% {
        transform: translate(-3px,3px) translateZ(0px)
    }

    60% {
        transform: translate(-3px,3px) translateZ(0px)
    }

    65% {
        transform: translate(3px,3px) translateZ(0px)
    }

    70% {
        transform: translate(3px,3px) translateZ(0px)
    }

    75% {
        transform: translateX(0px) translateZ(0px)
    }
}

@keyframes moveEyesBlack {
    10% {
        transform: translateX(0px) translateZ(0px)
    }

    15% {
        transform: translateX(4px) translateZ(0px)
    }

    20% {
        transform: translateX(4px) translateZ(0px)
    }

    25% {
        transform: translateX(0px) translateZ(0px)
    }

    30% {
        transform: translateX(0px) translateZ(0px)
    }

    35% {
        transform: translateX(4px) translateZ(0px)
    }

    40% {
        transform: translateX(4px) translateZ(0px)
    }

    45% {
        transform: translateX(0px) translateZ(0px)
    }

    50% {
        transform: translateX(0px) translateZ(0px)
    }

    55% {
        transform: translateX(0px) translateZ(0px)
    }

    60% {
        transform: translateX(0px) translateZ(0px)
    }

    65% {
        transform: translateX(4px) translateZ(0px)
    }

    70% {
        transform: translateX(4px) translateZ(0px)
    }

    75% {
        transform: translateX(0px) translateZ(0px)
    }
}

@keyframes removeEyes {
    17% {
        transform: translateY(0px)
    }

    17.3% {
        transform: translateY(7px)
    }

    17.6% {
        transform: translateY(0px)
    }

    70% {
        transform: translateY(0px)
    }

    70.3% {
        transform: translateY(7px)
    }

    70.6% {
        transform: translateY(0px)
    }

    71.3% {
        transform: translateY(0px)
    }

    71.6% {
        transform: translateY(7px)
    }

    71.9% {
        transform: translateY(0px)
    }
}
/********************************
 ************* HAIR *************
 ********************************/
@keyframes movePateLeft {
    50% {
        width: 3px
    }

    55% {
        width: 0px
    }

    60% {
        width: 0px
    }

    65% {
        width: 5px
    }

    70% {
        width: 5px
    }

    75% {
        width: 3px
    }
}

@keyframes movePateRight {
    50% {
        width: 3px;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
    }

    55% {
        width: 5px;
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
    }

    60% {
        width: 5px;
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
    }

    65% {
        width: 0px;
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
    }

    70% {
        width: 0px;
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
    }

    75% {
        width: 3px;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
    }
}

@keyframes moveshadowHead {
    50% {
        width: 8px;
        transform: translateX(0px)
    }

    55% {
        width: 3px;
        transform: translateX(5px)
    }

    60% {
        width: 3px;
        transform: translateX(5px)
    }

    65% {
        width: 9px;
        transform: translateX(-1px)
    }

    70% {
        width: 9px;
        transform: translateX(-1px)
    }

    75% {
        width: 8px;
        transform: translateX(0px)
    }
}

@keyframes moveBackHair {
    50% {
        transform: translateX(0px)
    }

    55% {
        transform: translateX(2px)
    }

    60% {
        transform: translateX(2px)
    }

    65% {
        transform: translateX(-2px)
    }

    70% {
        transform: translateX(-2px)
    }

    75% {
        transform: translateX(0px)
    }
}

@keyframes moveFrontHair {
    50% {
        transform: translate(0px)
    }

    55% {
        transform: translate(-3px,3px)
    }

    60% {
        transform: translate(-3px,3px)
    }

    65% {
        transform: translate(3px,3px)
    }

    70% {
        transform: translate(3px,3px)
    }

    75% {
        transform: translate(0px)
    }
}

@keyframes movetienCache {
    50% {
        transform: translate(0px)
    }

    55% {
        transform: translate(2px,3px)
    }

    60% {
        transform: translate(2px,3px)
    }

    65% {
        transform: translate(-2px,3px)
    }

    70% {
        transform: translate(-2px,3px)
    }

    75% {
        transform: translate(0px)
    }
}
/********************************
 ************* HEAR *************
 ********************************/
@keyframes moveHearOutRight {
    50% {
        transform: translate(0px)
    }

    55% {
        transform: translate(1px,3px)
    }

    60% {
        transform: translate(1px,3px)
    }

    65% {
        transform: translate(-1px,3px)
    }

    70% {
        transform: translate(-1px,3px)
    }

    75% {
        transform: translate(0px)
    }
}

@keyframes moveHearOutLeft {
    50% {
        transform: translate(0px)
    }

    55% {
        transform: translate(1px,3px)
    }

    60% {
        transform: translate(1px,3px)
    }

    65% {
        transform: translate(-1px,3px)
    }

    70% {
        transform: translate(-1px,3px)
    }

    75% {
        transform: translate(0px)
    }
}

@keyframes moveHearInRight {
    50% {
        transform: translateX(0px)
    }

    55% {
        transform: translateX(1px)
    }

    60% {
        transform: translateX(1px)
    }

    65% {
        transform: translateX(-3px)
    }

    70% {
        transform: translateX(-3px)
    }

    75% {
        transform: translateX(0px)
    }
}

@keyframes moveHearInLeft {
    50% {
        transform: translateX(1px)
    }

    55% {
        transform: translateX(4px)
    }

    60% {
        transform: translateX(4px)
    }

    65% {
        transform: translateX(0px)
    }

    70% {
        transform: translateX(0px)
    }

    75% {
        transform: translateX(1px)
    }
}
/********************************
 ************* HAND *************
 ********************************/
@keyframes handClick {
    60% {
        transform: translateY(-2px)
    }

    61% {
        transform: translateY(-1px)
    }

    62% {
        transform: translateY(-2px)
    }

    63% {
        transform: translateY(-1px)
    }

    64% {
        transform: translateY(-2px)
    }
}

@keyframes moveHand {
    52% {
        transform: translateX(0px)
    }

    54% {
        transform: translateX(2px)
    }

    56% {
        transform: translateX(-2px)
    }

    58% {
        transform: translateX(0px)
    }
}

/********************************
 ************* REST *************
 ********************************/

@keyframes vapeur {
    0% {
        opacity: 1;
        transform: translateY(0px)
    }

    100% {
        opacity: 0;
        transform: translateY(-15px)
    }
}

#flocons {
    will-change: transform;
    transform: translate3d(0px, -50px, 0);
    animation: flocons 3s linear infinite;
}

@keyframes flocons {
    0% {
        transform: translate(-50px,-50px)
    }

    100% {
        transform: translate(85px,85px)
    }
}

#flocons2 {
    will-change: transform;
    transform: translate3d(0px, -50px, 0);
    animation: flocons2 10s linear infinite;
}

@keyframes flocons2 {
    0% {
        transform: translate(50px,-50px)
    }

    100% {
        transform: translate(-85px,85px)
    }
}

@keyframes planeMove {
    100% {
        transform: translate(-550px, -120px)
    }
}

@keyframes lightComputer {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
}
