body {
    font-family: Arial, Helvetica, sans-serif;
}


.bg {
    background-image: url("images/trialsEnv.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card-body {
    background-color: #c0c0c0;
    max-height: 390px;
    width: 430px;
    overflow: auto;
}

.card-header {
    width: 430px;
}

.video-js vjs-default-skin {
    margin-top: 120px;
}

.card-body2 {
    position: absolute;
    background-color: #0c0c0c;
    object-fit: contain;
}

.card-body1 {
    margin-top: 63%;
    right: 30%;
}

.videobody {
    position: absolute;
    background-color: black;
    margin-top: 30%;
}

br {
    line-height: 2.5rem;
}

.responsive-video {
    position: absolute;
    margin-top:140px;
    top: 329px;
    left: 2px;
}

.col-sm-3 {
    padding-top: 1%;
    margin-left: 7%;
}
